.App {
  text-align: center;
  background-color: aquamarine;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: #61dafb;
  border: 2px solid yellow;
  position: sticky;
}

main {
  background-color: cornflowerblue;
  display: flex;
}

.sticky {
  position: sticky;
  top: 10px;
}

.allPostsContainer {
  color: red;
  border: 2px solid blue;
  background-color: yellow;
  width: 75%;
}

.topics-container {
  color: blueviolet;
  background-color: rgb(173, 173, 173);
  border: 2px solid black;
  width: 25%;
}

.post-container {
  color: yellow;
  background-color: yellowgreen;
  border: 2px solid black;
  margin-left: -30px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.subredditTag {
  color: blue;
}

.topicsList {
  text-align: left;
  line-height: 1;
  margin-left: -20px;
  max-width: inherit;
}

.topicItem {
  max-width: inherit;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid rgb(100, 100, 100);
  cursor: pointer;
  list-style-type: none;
}